.list {
	background: #BDBDBD;
	padding: 0px;
	margin: 0px;
	border: 1px dashed #757575;
	display: grid;
	list-style: none;
}

@media screen and (min-width: 300px) {
	.list {
		font-size: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}


@media screen and (min-width: 600px) {
	.list {
		font-size: 13px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

@media screen and (min-width: 900px) {
	.list {
		font-size: 16px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}